<html>
	<head>
		<title>Snapfish - Welcome</title>
	</head>
	<body>
       <%=render 'layouts/header'%>
       <div id="adspot" class="add-spot">
       	 
       	</div>
       <%=render 'layouts/footer'%>
	</body>		
</html>
